<section class="header-wrapper" [ngClass]="{ 'logged-in': loggedInUser }">
  <div class="row">
    <div class="col-md-4 col-md-push-8 col-sm-5 col-sm-push-7 main-nav">
      <ul *ngIf="!loggedInUser" class="nav nav-pills pre-login-menu">
        <li role="presentation">
          <a (click)="displaySignInForm()">Sign In</a>
        </li>
        <li class="active" role="presentation">
          <a>Register</a>
        </li>
        <li role="presentation">
          <a>EN</a>
        </li>
      </ul>

      <ul *ngIf="loggedInUser" class="nav nav-pills loggedin-menu">
        <li role="presentation" class="dropdown" dropdown>
          <img class="profile-icon" [src]="profileIcon">

          <a dropdownToggle class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <span class="userId">Manufacturer #4564</span>
            <img [src]="dropdownIcon">
          </a>

          <ul *dropdownMenu class="dropdown-menu" role="menu">
            <li>
              <a class="dropdown-item">
                <img [src]="settingIcon">Acccount Settings
              </a>
            </li>
            <li>
              <a class="logout-initiator dropdown-item" (click)="processLogout()">
                <img [src]="signoutIcon">Sign Out
              </a>
            </li>
          </ul>
        </li>
        <li role="presentation">
          <a>Contact Us</a>
        </li>
        <li role="presentation">
          <a>EN</a>
        </li>
      </ul>
    </div>

    <div class="col-md-4 col-md-pull-4 col-sm-7 col-sm-pull-5 logo" [ngClass]="{ 'align-center, col-md-offset-4': !loggedInUser }">
      <img [src]="clinicianLogo" alt="logo"/>
    </div>
  </div>
</section>