<div class="footer-wrapper">
  <div class="row">
    <div class=" col-md-9 footer-content">
      <div class="footer-menu">
        <ul class="nav nav-pills">
          <li>
            <a>About Us</a>
          </li>
          <li>
            <a>Policies and Permissions</a>
          </li>
          <li>
            <a>Privacy Policy</a>
          </li>
          <li>
            <a>FAQs</a>
          </li>
        </ul>
      </div>

      <div class="copyright">
        © Canadian Pharmacists Association, {{ currentYear }}. All rights reserved.
      </div>
    </div>
  </div>
</div>
