@import "../../assets/partials/variables";

.footer-wrapper {
  font-family: 'Montserrat-Regular';
  padding: 40px 30px;
  font-size: 1.143rem;
  color: white;
  background-color: gray;

  @media (max-width: 991px) {
    padding: 30px 20px;
  }

  @media (max-width: 767px) {
    padding: 20px 10px;
  }

  @media print {
    border-top: none !important;
  }

  .footer-menu {
    margin-bottom: 5px;
    float: right;

    ul {
      li {
        border-right: 1px solid gray;
        border-right: 1px solid white;

        @media (max-width: 767px) {
          display: block;
          width: 100%;
          margin-bottom: 14px;
          border-right: 0;
        }

        &:first-child a {
          padding: 0 15px 0 0;

          @media (max-width: 767px) {
            padding: 0 10px 0 5px;
          }
        }

        &:last-child {
          border: none;
          margin-bottom: 0;
        }

        a {
          padding: 0 15px;
          color: white;
          font-size: 1.143rem;

          @media (max-width: 767px) {
            padding: 0;
          }
        }
      }
    }
  }

  .footer-content {
    @media print {
      display: none !important;
    }

    > div {
      @media (max-width: 767px) {
        margin-bottom: 15px;
      }
    }
  }

  .copyright {
    margin-top: 15px;
    font-size: 0.857rem;
  }
}
