@import "../assets/partials/variables";

.container-fluid {
    padding-left: 0;
    padding-right: 0;
    overflow-x: hidden;

    .main-content {
        background-color: #F5F5F5;
        // background-color: $clinicianScheme;
    }
}