@import "../assets/partials/variables";

.container-fluid {
    padding-left: 0;
    padding-right: 0;
    overflow-x: hidden;

    .main-content {
        background-color: #F5F5F5;
        // background-color: $clinicianScheme;
    }
}

/deep/ .daterangepicker {
    td.active {
        background-color: $clinicianButtonScheme !important;
        border: 1px solid $clinicianButtonScheme;
    }

    td.in-range {
        background-color: #d49193 !important;
    }

    .ranges {
        float: right !important;

        .active {
           background-color: $clinicianButtonScheme;
            border: 1px solid $clinicianButtonScheme;
        }

        .range_inputs {
            margin-top: 15px;

            .btn {
                font-size: 14px;
                padding: 7px 15px;

                &:hover {
                    background-color: inherit;
                }
            }

            .btn-success {
                background-color: $clinicianButtonScheme;

                &:hover {
                    background-color: $clinicianButtonScheme;
                }

            }
        }
    }

    .calendar {
        display: block !important;
    }
}