/* You can add global styles to this file, and also import other style files */
@import './assets/partials/variables.scss';

html {
  font-size: 14px;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  color: #000000;
  line-height: 1.250rem;

  @media (max-width: 767px) {
    font-size: 12px;
  }

  h1 {
    font-size: 2.286rem;
  }

  h2 {
    font-size: 1.429rem;
  }

  h3 {
    font-size: 1.286rem;
  }

  h4 {
    font-size: 1.143rem;
  }

  a {
    color: $hyperLink;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  p {
    line-height: 1.250;
  }

  .no-padding {
    padding: 0;
  }

  bold {
    font-weight: bold;
  }

  .btn-primary {
    background-color: blue;
    color: white;
  }

  input[type=checkbox] {
    height: 15px;
    width: 20px;
  }


  .align-center {
    text-align: center;
  }
}