<section class="home-wrapper">
  <div class="title">
    Secure, lorem ipsum
  </div>

  <div class="intro">
    Sed sit amet tortor nibh. Quisque scelerisque enim in odio porta, non tincidunt est auctor.
  </div>

  <div class="content row">
    <div class="col-md-6 col-sm-12">
      <div class="section-header">
        The latest drug information
      </div>

      <p>
        Donec massa erat, tincidunt rhoncus libero id, efficitur condimentum urna.
        Praesent malesuada maximus felis sed congue.
        Morbi quis libero a ipsum aliquet fringilla vitae eu lectus.
        Curabitur massa ex, pretium vitae bibendum nec, hendrerit at nibh.
        Fusce bibendum urna quis accumsan rutrum.
        Donec scelerisque et eros sed suscipit. Ut elementum nisi mi, ut eleifend dui viverra vel.
      </p>
    </div>

    <div class="col-md-6 col-sm-12">
      <div class="section-header">
        Lorem ipsum dolor
      </div>

      <p>
        Maecenas nec elit nec tortor luctus condimentum.
        Proin mollis pharetra nisi, eget volutpat leo suscipit ut.
        Pellentesque pharetra justo at enim gravida semper. Nam nec tincidunt enim.
        Vestibulum auctor tellus neque, id tempus augue venenatis eget. Cras congue luctus sem ac dapibus.
        Ut tellus augue, pulvinar vel tincidunt non, rhoncus gravida purus.
      </p>
    </div>
  </div>
</section>